# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ "main", "160-try-nlp-optima-from-2025-03-30-study-with-adamw" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    # container:
    #   image: python:33.11.9
    steps:
    - uses: actions/checkout@v3
    - name: Test Cerebros
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f cicd-requirements.txt ]; then pip install -r cicd-requirements.txt; fi        
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        # flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    # - name: Test distributed random search Ames by running
    #   run: python3 regression-example-ames-no-preproc.py
    # - name: Test distributed random search Ames by running - Val set
    #   run: python3 regression-example-ames-no-preproc-val-set.py
    # - name: Test text classifier - random search - ham-spam
    #   run: python3 text-class-ham-or-spam.py
    #   timeout-minutes: 90
    # - name: Test image classifier - small subset of CIFAR10 # add back
    #   timeout-minutes: 90
    #   run: python3 cifar10-example.py
    - name: Phishing email detection with GPT2 embedding
      timeout-minutes: 420
      run: python3 phishing_email_detection_gpt2.py
